# Maven
target/
*.class
*.jar
*.war

# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.factorypath

# Spring Boot
*.log
application-local.properties

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env